// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-row {
  cursor: pointer;
}

.project-row:hover{
  background-color: lightyellow;
}

.project-detail {
  margin: 20px;
}


.projects {
  margin: 15px;
}


.projects-table {
  margin-top: 20px;
  max-width: 600px;
}


.project-title {
  background: transparent;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}


.project-form {
  margin-top: 20px;
}
